<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="Screenshot %20(610).png" alt="{{ site.title }}"  width="559px" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">2nd MetriX Mathematical Olympiad 2021 </p>
<p class="text-muted wow animated slideInUp" data-wow-delay=".5s">To know more about it explore the other pages of the website </p>
  </div>
</div>
